body {
    font-family: sans-serif;
    text-align: center;
    background-color: #ccc;
}

.calendar {
    background-color: aliceblue;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin: 1rem auto;
    max-width: 450px;
}

.day,
.date {
    padding: 10px;
    border: 1px solid #ccc;
}

.today {
    background: lightblue;
}